.bg-primary {
    background-color: #ff0000 !important;
}

.active {
    border-bottom: 2px solid #ee1818;
    color: #ee1818;
}

.nav-link .btn .btn .btn-rounded .btn-green {
    background: #ff0000;
}

@media  only screen and (max-width:480px) {
    .btn {
        display: block;
        margin-bottom: 15px;
    }

    .testimonial_section .about_content .layer_content a {
        display: block;
        margin-left: 20px;
        margin-bottom: 15px;
    }

    .testimonial_section .about_content {
        padding-left: 15px;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .cart .btn {
        display: block;
        font-size: inherit;
        font-weight: 800;
        padding: 13px 5px;
        border-radius: 50%;
        line-height: 50%;
        height: 40px;
        width: 40px;
    }
}

html {
    scroll-behavior: smooth;
}

a {
    color: #e80909;
}

a:hover {
    color: #000;
}

@media (max-width: 575px) {
    .text-bg span {
        font-size: 20px;
    }

    .w-25 {
        margin-right: 22px !important;
    }

    .text-img {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: .3rem !important;
    }
}

.navbar-nav>.nav-item>.nav-link {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    color: #ccc;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb {
    background-color: #f90a23;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.hamburger--spin .hamburger-inner,
.hamburger--spin .hamburger-inner::before,
.hamburger--spin .hamburger-inner::after {
    background: #F5F5F5 !important;
}
.sfh {
                                border: 2px solid #f44336;
                                padding: 4px 10px !important;
                                color: #f44336 !important;
                                border-radius: 36px;
                            }

                            .sfh:hover {
                                border: 2px solid #ccc !important;
                                color: #ccc !important;
                            }

.event .title {
margin: 0px 0 0;
}

.event .nav-content {
float: right;
width: 80%;
}

.event .btn {
background: #ff1010;
}

.event .nav-content strong {
display: block;
font-size: 20px;
color: #070707;
}

.event nav > div a.nav-item.nav-link.active .event .spicel-features {
background: #fafaff;
}

.event .nav-fill .nav-item {
text-align: left;

margin: 0 5px;
font-size: 12px;
margin-right: 16px;
}

.event .nav-fill .nav-item text-t i {
margin-right: 10px;
}

.event .nav-fill .nav-item i::before {
font-size: 26px;
margin-right: 13px;
position: relative;
top: 4px;
}

.event nav > .nav.nav-tabs {
border: none;
color: #fff;
border-radius: 0;
flex-wrap: inherit;
padding: 0 30px;
}

.event .nav-item {
margin: 0 0;
}

.event a.nav-item.nav-link.active {
background: #ff1010 !important;
color: #fff !important;
}

.event a.nav-item.nav-link.active strong {
color: #fff;
}

.event nav > div a.nav-item.nav-link,
.event nav > div a.nav-item.nav-link.active {
border: none;
padding: 10px;
color: #47759d;
border-radius: 0;
background: #fff;
position: relative;
background: #f5faff;
}

.event nav > div a.nav-item.nav-link.active:after {
width: 0;
height: 0;
border-style: solid;
border-width: 0 15px 15px 0;
border-color: transparent #e7015e transparent transparent;
position: absolute;
left: 0;
bottom: -15px;
content: '';
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
border-color: transparent #ff1010 transparent transparent;
}

.event .tab-content {
padding: 50px 25px 0 !important;
}

.event .user h5 {
margin-top: 20px;
}

.event .user p {
font-weight: bold;
color: #ff1010;
}

.event .user ul {
padding-top: 10px;
border-top: 1px solid #edf5ff;
}

.event .user ul li {
margin-top: 10px;
}

.event .user ul li i {
margin-right: 5px;
}

.event-list-content {
margin-left: 50px;
margin-right: 20px;
padding: 50px;
position: relative;
border-radius: 3px;
border: 1px solid #dddcdc;
transition: all 0.3s ease 0s;
}

.event-list-content .crical {
position: absolute;
background: #ff1010;
right: -66px;
bottom: -73px;
font-size: 30px;
color: #fff;
width: 200px;
height: 200px;
border-radius: 50%;
padding: 50px;
}

.event-list-content h2 {
margin-bottom: 30px;
}

.event-list-content .btn {
background: none;
border: 2px solid #edf5ff;
color: #47759d;
font-weight: bold;
font-size: 14px;
margin-right: 10px;
}

.event-list-content .btn:hover {
background: #ff1010;
border: 2px solid #ff1010;
color: #fff;
font-weight: bold;
font-size: 14px;
margin-right: 10px;
box-shadow: 0px 10px 19px 0px #ff101066 !important;
}

.event-list-content ul li {
display: inline-block;
font-size: 16px;
margin-right: 20px;
margin-bottom: 20px;
color: #ff1010;
}

.event-list-content ul li i {
margin-right: 5px;
}

.event nav > div a.nav-item.nav-link .lgt-icon {
display: none;
}

.event nav > div a.nav-item.nav-link.active .lgt-icon {
display: inline-block;
}

.event nav > div a.nav-item.nav-link.active .drk-icon {
display: none;
}

.event nav > div a.nav-item.nav-link.active .drk-icon {
display: none;
}

.img, img {
max-width: 100%;
transition: all 0.3s ease-out 0s;
}

.event .user h5 {
margin-top: 20px;
}
a, h1, h2, h3, h4, h5, h6, p, span {
overflow-wrap: break-word;
}
h5 {
font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
color: #070707;
margin-top: 0px;
font-style: normal;
font-weight: bold;
text-transform: normal;
}

.event .user p {
font-weight: bold;
color: #ff1010;
}
.event .user ul {
padding-top: 10px;
border-top: 1px solid #edf5ff;
}
ul {
margin: 0px;
padding: 0px;
}

.event-list-content .crical {
position: absolute;
background: #ff1010;
right: -66px;
bottom: -73px;
font-size: 30px;
color: #fff;
width: 200px;
height: 200px;
border-radius: 50%;
padding: 50px;
}
.fix {
overflow: hidden;
}

.event nav > div a.nav-item.nav-link.active:after {
width: 0;
height: 0;
border-style: solid;
border-width: 0 15px 15px 0;
border-color: transparent #e7015e transparent transparent;
position: absolute;
left: 0;
bottom: -15px;
content: '';
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
border-color: transparent #ff1010 transparent transparent;
}

p {
color: #070707;
}

body {
overflow-x: hidden;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
display: inline-block
}

.resp-sharing-button__link {
text-decoration: none;
color: #fff;
margin: 0.5em
}

.resp-sharing-button {
border-radius: 5px;
transition: 25ms ease-out;
padding: 0.5em 0.75em;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
width: 1em;
height: 1em;
margin-right: 0.4em;
vertical-align: top
}

.resp-sharing-button--small svg {
margin: 0;
vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
stroke: #fff;
fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
fill: #fff;
stroke: none
}

.resp-sharing-button--twitter {
background-color: #55acee
}

.resp-sharing-button--twitter:hover {
background-color: #2795e9
}

.resp-sharing-button--pinterest {
background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
background-color: #8c0615
}

.resp-sharing-button--facebook {
background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
background-color: #2d4373
}

.resp-sharing-button--tumblr {
background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
background-color: #222d3c
}

.resp-sharing-button--reddit {
background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
background-color: #3a80c1
}

.resp-sharing-button--google {
background-color: #dd4b39
}

.resp-sharing-button--google:hover {
background-color: #c23321
}

.resp-sharing-button--linkedin {
background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
background-color: #046293
}

.resp-sharing-button--email {
background-color: #777
}

.resp-sharing-button--email:hover {
background-color: #5e5e5e
}

.resp-sharing-button--xing {
background-color: #1a7576
}

.resp-sharing-button--xing:hover {
background-color: #114c4c
}

.resp-sharing-button--whatsapp {
background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
background-color: #507299
}

.resp-sharing-button--vk:hover {
background-color: #43648c
}

.resp-sharing-button--facebook {
background-color: #3b5998;
border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
background-color: #2d4373;
border-color: #2d4373;
}

.resp-sharing-button--twitter {
background-color: #55acee;
border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
background-color: #2795e9;
border-color: #2795e9;
}

.resp-sharing-button--email {
background-color: #777777;
border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
background-color: #5e5e5e;
border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
background-color: #0077b5;
border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
background-color: #046293;
border-color: #046293;
}

@media  only screen and (max-width: 600px) {
.event nav > .nav.nav-tabs {
border: none;
display: block;
}
.event .nav-fill .nav-item {
text-align: left;
margin: 24px 5px;
padding-bottom: 20px!important; }
}

div#social-links {
        margin: 0 auto;
        max-width: 500px;
    }
    div#social-links ul li {
        display: inline-block;
    }          
    div#social-links ul li a {
        padding: 20px;
        border: 1px solid #ccc;
        margin: 1px;
        font-size: 20px;
        color: #222;
        background-color: #ccc;
    }