body{
    background:#f0f0f0;
    line-height:normal;
    font-size: $font-size + 3;
      overflow-Y:scroll;
    font-family: 'Roboto Condensed', "Helvetica Neue",Helvetica,Arial,sans-serif;
      -webkit-font-smoothing: antialiased !important;
  }
  
  .icon-bg{
      position:absolute;
      left:0;top:0;bottom:0;
      z-index:1;
      width:100%;
      transform:translate3d(-43px,0,0);
      transition: all .2s ease-in-out;
  }
  
  .rad-txt-primary{
      color:#1C7EBB;
  }
  .rad-bg-primary{
      background:#1C7EBB;
  }
  .rad-txt-success{
      color:#23AE89;
  }
  .rad-bg-success{
      background:#23AE89;
  }
  .rad-txt-danger{
      color:#E94B3B;
  }
  .rad-bg-danger{
      background:#E94B3B;
  }
  .rad-txt-warning{
      color:#F98E33;
  }
  .rad-bg-warning{
      background:#F98E33;
  }
  .rad-txt-violet{
      color:#6A55C2;
  }
  .rad-bg-violet{
      background:#6A55C2;
  }
  
  
  .rad-logo-container.rad-nav-min{
      transform:translate3d(-180px,0,0);
          
      .rad-logo{
          opacity:0;
      }
      &+.rad-logo-hidden{
          opacity:1;
          visibility:visible;
      }
  }
  
  .rad-sidebar.rad-nav-min{
      width:45px !important;
      
      .rad-sidebar-item{
          opacity:0;
          visibility:hidden;
          -webkit-transition:all .1s linear;
          transform:translate3d(-200px,0,0);
      }
      
      .icon-bg{
          transform:translate3d(0,0,0);		
      }
      
      i{
          border:0px;	
          color:white;
          transition:all .2s linear;
      }
      
      li:hover{
          .icon-bg{
              transform:scale(1.2,1);
          }
      }
  }
  
  
  .rad-body-wrapper{
      position:absolute;
      left:230px;
      top:75px;
      width:auto;
      right:0;
      transition: all .2s ease-in-out;
  }
  
  .rad-body-wrapper.rad-nav-min{
      left:50px;
  }
  
  .rad-chart{
      height:250px;
  }
  
  .rad-map{
      width: 100%;
      height:100%;
  }
  
  .rad-map-container{
      height: 400px;
      position: relative;
  }
  
  .rad-collapse {
    height:0px;
    padding: 0;
      opacity:0;
    overflow: hidden;
  }
  
  @-webkit-keyframes rotating {
      from{
          -webkit-transform: rotate(0deg);
      }
      to{
          -webkit-transform: rotate(360deg);
      }
  }
  
  @-webkit-keyframes flipInX {
    0% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-transition-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-transition-timing-function: ease-in;
    }
  
    60% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    100% {
      -webkit-transform: perspective(400px);
    }
  }
  
  
  @media screen and (max-width: 450px){
      .rad-info-box i{
          opacity:.3;
      }
      
      .flat-theme{
          .rad-toggle-btn{						
              right:20px !important;
        }	
          
          .rad-top-nav-container{
              .links:last-child{
                  display:none;
              }
          }
      }
  }
  
  @media screen and (min-width: 850px){		
          
          .rad-logo-container{						
              height:75px;
              
              .rad-logo{
                  line-height:75px;				
              }
              
              .rad-toggle-btn{
                  line-height:75px;
                  height:auto;
              }
        }	
          
          .rad-top-nav-container{
              padding:10px;
          }
          
          .rad-sidebar{
              top:75px;
          }
          .rad-body-wrapper{
              top:100px;
          }
      
          .flat-theme{
              .rad-toggle-btn{
                  top:20px !important;
              }
          }
      
  }
  
  @media screen and (max-width: 850px){
      
      .flat-theme{
          
          .rad-menu-badge{
              top:-3px;
          }
          
          .rad-toggle-btn{						
              right:20px !important;
        }
          
          .rad-body-wrapper{
              top:125px !important;
          }
          
          .rad-sidebar{
              position: absolute;
          }
          
          .rad-navigation{
              position:absolute;
              
              .links > li:first-child {
                   margin-left:15px !important;
              }
              
          }
          
          &.sticky{
              
              .rad-logo-container {
                  z-index:10000;
                  
                  .rad-toggle-btn{
                      color: #89949B!important;						
                      position: fixed;						
                      right: 120px !important;
                      background: #f6f6f6;
                      top: 11px;
                      
                      &:hover{
                          background: crimson;
                          color:#fff !important;
                      }
                  }
              }
              
              .rad-navigation{
                  height:50px;			
              }
  
              .rad-sidebar{
                  top:50px;
                  position:fixed;
                  //transition: none;
              }
  
              .rad-top-nav-container{
                  background:#FFF important;
                  box-shadow:0 0px 9px 4px rgba(#000, .1), 0 -5px 2px 2px rgba(#000, .1);
                  position:fixed;
                  left:0;
                  top:0;
                  width:100%;
                  z-index:1000;
              }
              
              .links{
                  margin-left:50px;
              }
              
              .brand-icon{
                  margin-left: 0px;
                  
                  &:hover{
                      color:#fff;
                  }
              }
  
          }	
      }
      
      .rad-navigation{
          height:100px;
      }
      
      
      .rad-logo-container{
          display:block;
          float:none;
          width:100%;		
          border-bottom:1px solid #F2F2F2;
      }
      
      .rad-top-nav-container{
          display:block;
          float:none;
          height:50px;		
          background: $base-color;
          
          .links>li>a{
              font-size:12px;
          }
      }
      
      .rad-menu-badge{
          font-size:10px;
          min-width:15px;
          min-height:15px;	
          line-height:15px;		
      }
      
      .rad-sidebar{
          top:100px;
      }
      
      .rad-sidebar.rad-nav-min{
          transform:translate3d(-200px,0,0);	
      }
      
      .rad-body-wrapper{
          top:125px;
          position:relative;
      }
      
      .rad-body-wrapper.rad-nav-min{
          left:0px;
      }
      
  }
  
  .rad-info-box{	
      margin-bottom:16px;
      box-shadow:1px 1px 2px 0 #CCCCCC;
      padding:20px;
      box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
      background:$base-color !important;
  }
  
  .rad-info-box i{
      display:block;
      background-clip:padding-box;
      margin-right:15px;
      height:60px;
      width:60px;
      border-radius:100%;
      line-height:60px;
      text-align:center;
      font-size:4.4em;
      position:absolute;	
  }
  
  .rad-info-box .value,
  .rad-info-box .heading{
      display:block;	
      position:relative;
      color: $text-color;
      text-align:right;
      z-index:10;
  }
  
  .rad-info-box .heading{
      font-size:1.2em;
      font-weight:300;
      text-transform:uppercase;
  }
  
  .rad-info-box .value{
      font-size:2.1em;
      font-weight:600;
      margin-top:5px;
  }
  
  .rad-list-icon{
      position:relative;
      height:40px;
      width:40px;
      border-radius:100%;
      line-height:40px;
      text-align:center;
      color: white;	
      top:-5px;
  }
  
  .icon-shadow{
      box-shadow: 0 0px 3px 1px rgba(0,0,0,.26);
  }